
[Desktop Entry]
Name=Symphytum
GenericName=Symphytum
Exec=symphytum
Icon=${SNAP}/meta/gui/symphytum.png
Type=Application
StartupNotify=false
Terminal=false
Categories=Office;
